* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1e1e1e;
    /* background: linear-gradient(90deg, #360033 0%, #0b8793 100%); */
    /* background: linear-gradient(90deg, #0f0c29 0%, #302b63 50%, #24243e 100%); */
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* ------------------------>>> Generic Classes <<<-------------------*/

.section-line {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.heading {
    margin: 0 auto;
    width: 80%;
    background-color: white;
    border-radius: 1000px;
    color: black;
}

.heading>h1 {
    color: #0f0c29;
    text-align: center;
}

.heading>p
{
    text-align: center;
    font-size: small;
}




/* ------------------------>>> Navbar <<<-------------------*/

.navbar {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5rem;
    width: 100%;

}

.right-navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.right-navbar a {
    text-decoration: none;
    color: white;
}

.right-navbar ul li {
    margin: 0 1rem;
    cursor: pointer;
}

.right-navbar ul li a:hover {

    font-size: 1.02rem;
    color: #0f0c29;
}

.left-navbar h1 {

    font-weight: 900;
}




/* ------------------------>>> About <<<-------------------*/

/* Personal Information */
.personal-info {
    display: flex;
    justify-content: space-around;
    margin: 2.5rem 0;
}

.personal-info>div {
    width: 25%;
}

.personal-info div {
    max-height: 25rem;
    padding: 1rem 1rem;
}


/* Profile Photo */
.left-image img {
    border-radius: 100%;
    width: 100%;
    margin-left: 10%;
}

.left-image h2
{
    text-align: center;
    margin: 10px 0px;
    margin-left: 5rem;
}




/* Right Info Box */
div.right-info {
    width: 60%;
}

/* Education Details */
div.education-detail {
    display: flex;
}

div.education-detail div {
    margin: 1rem 2.5rem;
    border: 2px solid white;
    border-radius: 10px;
    width: 30%;
}

.effect
{
    display: none;
}

.education-detail div:hover
{
    .effect{
        
        display: block;
    }
}



/* ------------------------>>> Skills <<<-------------------*/


.skill-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    margin: 2rem 10%;
}

.skill
{
    background-color: aliceblue;
    color: whitesmoke;
    height: 16rem;
    width: 20%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-name>h2
{
    text-align: center;
}
.skill-image img
{
    width: 100%;
}

.skill:nth-child(3) .skill-image img
{
    width: 150px;
}

/* ------------------------>>> Project section<<<-------------------*/

.projects-container
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 2.5rem 10%;
    padding: 1rem 1rem;
}

.project
{
    width: 40%;
    height: 50;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 15px 15px;
    margin-bottom: 1.5rem;

}

.project p
{
    display: block;
    text-align: center;
    font-weight: 200;
}

.project a
{
    display: block;
    width: fit-content;
    background-color:#1e1e1e;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    padding: 5px 5px ;
    margin: 5px auto;
    text-decoration: none;

}

.project img
{
    border-radius: 10px;
}



/* ------------------------>>> contact Details <<<-------------------*/

.contact-details
{
    margin: 2.5rem auto  ;
    padding: 10px 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    border: 2px solid white;
    border-radius: 15px;
}

div.contact-details div 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;
}


/* ------------------------>>> Footer <<<-------------------*/

.footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding: 8px  0;
    width: 40%;
    height: auto;
    background-color: whitesmoke;
    border-radius: 5px;
    color: black;
    gap: 10px;
}

.footer ul li a
{
    text-decoration: none;
    color: black;
    margin: 1rem 0;
}

.footer ul li
{
    display: inline;
    list-style-type: none;
    margin: 1rem 20px;
}

div.copyright
{
    font-size: small;
}




/* ------------------------>>> For Responsiveness <<<-------------------*/

@media screen and (max-width:850px){

    .personal-info
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    div.left-image h2{
        margin-left: 35px;
    }
    div.education-detail
    {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: center;
    }
    div.education-detail div {
        width: 50%;
    };
    .skill-container
    {
        display: flex;
        gap: 25%;        
    }
    .skill{
        margin-top:2rem ;
        width: 60%;
        height: 20rem;
    }
    .skill:nth-child(3) .skill-image img
    {
        width: 200px;
    }
    .projects-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .project
    {
        width: 75%;
    }
    .footer ul li{
        display: block;
    }
    #about
    {
        height: 70rem;
    }
}